.env
.env.local
__pycache__/
*.pyc
venv/
cache/
node_modules/
.next/
data/**/*.csv
data/**/*.json
data/**/*.zip
data/**/*.shp
data/**/*.shx
data/**/*.dbf
data/**/*.prj
data/**/*.sbn
data/**/*.sbx
data/**/*.xml
!data/.gitkeep
.DS_Store
